@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b598e2' fill-opacity='0.55'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: "EB Garamond", serif;
  color: rgb(180, 93, 187);
}

.quote-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 40vh;
  min-height: 15vh;
  max-height: 70vh;
  max-width: 60vw;
  width: fit-content;
  background-color: white;
  border-radius: 2em;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.quote-section {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  padding: 0 0 3vh 0;
}

.quote-container img.startquote {
  width: 40px;
  margin-top: -20px;
  margin-left: -30px;
}
.quote-container img.endquote {
  width: 40px;
  transform: rotate(180deg);
  margin-bottom: -30px;
}
.quote-container div.quote {
  width: 220% !important;
  padding: 0 20px 0 20px;
  font-size: x-large;
}

.buttons {
  margin-top: auto ;
  margin: 0 auto;
  width: 90% ;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding-bottom: 10px;
}
.buttons >div > a.new {
  text-decoration: unset;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-top: 6px;
  background-color: antiquewhite;
  border-radius: 1.4em;
  cursor: pointer;
}

.buttons > div > a > img {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-top: -10px;
  background-color: rgb(255, 0, 170);
  border-radius: 0.8em;
}

.buttons > div > a > img:hover {
  background-color: rgb(0, 132, 255);
}

.copied{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.copied div{
  cursor: default;
  font-size: 30px;
  color: #982ae2;
  background-color: rgb(247, 227, 140);
  width: 20%;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  justify-self: center;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0 ;
}

.show div{
    animation: fadeInOut 1.2s infinite;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (max-width: 800px) {
  .quote-container {
    max-width: 70vw !important;
  width: 98vw !important;
  min-width: 40vw !important;
  }
  
  .quote-container div.quote {
    font-size: large;
    /* margin-left: 20px; */
  }

  .copied div{
  width: 40%;
}

.quote-section {
  width: 110%;
  margin-left: -20px;
}

.quote-container img.startquote {
  width: 30px !important;
  margin-top: -20px;
  margin-left: -18px;
}
.quote-container img.endquote {
  width: 30px !important;
  transform: rotate(180deg);
  margin-bottom: -30px;
}

h2{
  font-size: medium;
}

.buttons {
  margin-left: -40px;
width:130% !important;
}

.buttons> div > a > img {
  width: 14px;
  height: 14px;
}

.loader{
  margin: 42vh 34vw !important;
}

}
/* Loader animation */

.loader{
  margin: 43vh 45vw;
  border: 16px solid white;
  border-top: 16px solid #fa3bd1;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite;
}




@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}